@page
@model ImobSystem.Pages.FormalizationsModel
@{
    ViewData["Title"] = "Formalizações";
}

<div class="text-center">
    <h1 class="display-4">Formalizações</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data Documentacação</th>
                        <th>A Vista ou Financiamento</th>
                        <th>Data Vistoria</th>
                        <th>Data Constrato bancário</th>
                        <th>Data Escritura</th>
                        <th>Data Pagamento</th>
                        <th>[Ação] </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui você pode adicionar as linhas da tabela dinamicamente no futuro -->
                    <tr>
                        <td>01/05/2024</td>
                        <td>A Vista</td>
                        <td>01/05/2024</td>
                        <td>01/05/2024</td>
                        <td>01/05/2024</td>
                        <td>01/05/2024</td>
                        <td>[CONCLUIR] [CANCELAR]</td>
                    </tr>
                    <tr>
                        <td>01/05/2024</td>
                        <td>A Vista</td>
                        <td>01/05/2024</td>
                        <td>01/05/2024</td>
                        <td>01/05/2024</td>
                        <td>01/05/2024</td>
                        <td>[CONCLUIR] [CANCELAR]</td>
                    </tr>
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>
</div>