@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" origem cruzada>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="folha de estilo">

<div>
    <!-- Welcome Page -->
    <section class="hero mt-5 mb-5" style="font-family: arial; color: #1f1f41">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 text-center">
                    <h1 class="display-2" style="font-family: Bush Script MT; font-size: 64px;">Bem-Vindo!</h1>
                    <p class="lead">Gerencie suas propriedades e atendimentos de forma eficiente e organizada.</p>
                </div>
                <div class="col-lg-6">
                    <img class="rounded-3" src="~/images/imagemp.jpeg" alt="ImobSystem: Gestão de clientes">
                </div>
            </div>
        </div>
    </section>
    <!-- Separator -->
    <hr class="mt-5 mb-5" style="border-top: 2px solid #1f1f41"/>
    <!-- Phases -->
    <section class="hero mt-5" style="font-family: Bush Script MT; color:#1f1f41">
        <!-- Title -->
        <div class="container">
            <h1 class="display-2" style="font-size: 32px;">
                Fases de Atendimento de Clientes
            </h1>
        </div>
        <!-- List -->
        <div class="container">
            <ul>
                <li><strong>Atendimento:</strong> Primeiro contato com o cliente para entender suas necessidades.</li>
                <li><strong>Visita:</strong> Agendamento de visitas aos imóveis de interesse do cliente.</li>
                <li><strong>Proposta:</strong> Apresentação de propostas e negociação dos termos.</li>
                <li><strong>Formalização:</strong> Formalização do acordo entre cliente e proprietário.</li>
                <li><strong>Proprietários:</strong> Proprietários disponíveis para conexão com o cliente.</li>
                <li><strong>Casas:</strong> Casas disponíveis para negociação.</li>
                <li><strong>Leads Totais:</strong> Todas as pessoas que foram atendidas até o momento.</li>
                <li><strong>Fechamentos Totais:</strong> Atendimento com sucesso, com acordo entre as partes.</li>
                <li><strong>Leads Infrutíferos:</strong> Atendimento sem sucesso, sem acordo entre as partes.</li>
            </ul>
        </div>
    </section>
</div>
