@page
@model ImobSystem.Pages.ProposalsModel
@{
    ViewData["Title"] = "Propostas";
}

<div class="text-center">
    <h1 class="display-4">Propostas</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Endereço</th>
                        <th>Valor do Imóvel</th>
                        <th>Proposta do Cliente</th>
                        <th>Proprietário</th>
                        <th>Contra-Proposta</th>
                        <th>[Ação]</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui você pode adicionar as linhas da tabela dinamicamente no futuro -->
                    <tr>
                        <td>01/05/2024</td>
                        <td>Av. Major Novaes</td>
                        <td>R$ 300.000,00</td>
                        <td>R$ 280.000,00</td>
                        <td>João</td>
                        <td>R$ 285.000,00</td>
                        <td>[ACEITAR] [RECUSAR]</td>
                    </tr>
                    <tr>
                        <td>01/05/2024</td>
                        <td>rua das cabras</td>
                        <td>R$ 1.000.000,00</td>
                        <td>R$ 900.000,00</td>
                        <td>Joca</td>
                        <td>R$ 950.000,00</td>
                        <td>[ACEITAR] [RECUSAR]</td>
                    </tr>
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>
</div>