@page
@model ImobSystem.Pages.TotalBusinessModel
@{
    ViewData["Title"] = "TotalBusiness";
}

<div class="text-center">
    <h1 class="display-4">Total de Fechamentos</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Imóvel</th>
                        <th>Valor do Imóvel</th>
                        <th>Data Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Clients != null && Model.Clients.Any())
                    {
                        foreach (var client in Model.Clients)
                        {
                            if (client.ClientFases.Any(cf => cf.FaseId == 5))
                            {// Verificar se o cliente tem a fase 5 e propostas associadas
                            
                                foreach (var proposal in client.Proposals)
                                {
                                    foreach (var formalization in proposal.Formalizations)
                                    {
                                        <tr>
                                            <td>@client.Nome</td>
                                            <td>@proposal.House.FullAddress</td>
                                            <td>@proposal.ValorContraProposal.ToString("C2")</td>
                                            <td>@formalization.DataPagamento.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Nenhum dado de fechamento concluido encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>